<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[KblkE201Dp]]></root_password>
    <sapadm_password><![CDATA[KblkE201Dp]]></sapadm_password>
    <password><![CDATA[KblkE201Dp]]></password>
    <system_user_password><![CDATA[KblkE201Dp]]></system_user_password>
    <streaming_cluster_manager_password><![CDATA[KblkE201Dp]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[KblkE201Dp]]></ase_user_password>
    <org_manager_password><![CDATA[KblkE201Dp]]></org_manager_password>
</Passwords>
